@import "./utils/variables";

@import "./base/body";

@import "./components/pageheader";

@import "./components/solutions_mob";

@import "./components/property_mob";

@import "./components/samesing";

@import "./components/tiam_mob";

@import "./components/customers";

@import "./components/futer";

@import "./components/buttons";

@import "./components/pictures";

@import "./utils/breakpoints";
 

