/*-------------------BLOCK REGULAR CUSTOMERS-------------*/
.section-klient {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.wrapper {
  font-family: Roboto;
  display: block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.division {
  // display: flex;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin: 0;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
  }
}

.division__list {
  // width: 170px;
  width: 210px;
  height: 92px;
  list-style: none;

  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  @media screen and (min-width: 768px) {
    width: 226px;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
      display: inline-flex;
    }
  }
}
.division__link {
  display: inline-flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
  }
}
.division__icon {
  border: 1px solid transparent;
  width: 106px;
  height: 60px;
}

/*---------------BLOCK REGULAR CUSTOMERS AND----------------*/
