.header-nav {
  background-color: var(--main-bg-color);
  // height: 60px;
  // width: 480px;
  // border: 1px solid greenyellow;
  display: flex;
  margin-left: 0 auto;
  align-items: center;

  //   @media screen and (min-width: 600px) {
  //     background-color: yellow;
  //   }
  // }

  // @media screen and (min-width: 800px) {
  //   .header-nav {
  //     background-color: pink;
  //   }
  // @media screen and(min-width:768px) and (max-width: 1199px) {
  //   display: none;
  // }
}
.main-nav {
  color: var(--text-dec-black);
  display: flex;
  align-items: center;
  margin-right: 0px;
}
.link-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--text-dec-black);
}
.logoone {
  color: var(--hov-foc-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logoand {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);

  &:hover {
    color: var(--hov-foc-color);
  }
}
.navbox {
  display: none;
  color: var(--text-dec-black);
  list-style: none;
  display: flex;
  margin-left: 93px;
}
.span {
  color: var(--hov-foc-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
}
.navbox--current::after {
  content: "";
  display: inline;
  width: 100%;
  height: 5px;
  background-color: var(--hov-foc-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
}
/* .navbox--current::before {
  color: var(--hov-foc-color);
} */
.navbox__link {
  color: var(--text-dec-black);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 14px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navbox__boxin {
  margin-right: 50px;
  position: relative;
}

.navbox--current {
  color: var(--hov-foc-color);
}
.contact {
  list-style: none;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact .navbox__link {
  color: var(--text-main-color);
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  fill: var(--text-main-color);
}
.contact .contact__linka {
  margin-right: 50px;
  font-size: 14px;
  align-items: center;
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact__linka:last-child {
  margin-right: 0px;
}
.navbox__link:hover,
.navbox__link:focus {
  color: var(--hov-foc-color);
  fill: var(--hov-foc-color);
}

.contact__linka:hover,
.contact__linka:focus {
  fill: var(--hov-foc-color);
}

.contact__telsvg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact__phonesvg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
/* -----------BLOCK NAVIGATION AND----------*/
