.link-studio {
  display: inline;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-dec-black);
  // margin-left: 15px;
  margin-bottom: 16px;

  .logoone {
    color: var(--hov-foc-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
.logoand {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);

  &:hover {
    color: var(--hov-foc-color);
  }
}
.navbox {
  display: none;
}
.contact {
  display: none;
}
.mobdiv {
  border: 1px solid greenyellow;
  width: 480px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.moddiv_bat {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
  margin-left: 276px;
  // margin-top: 10px;
}
.mobdiv_icon {
  width: 40px;
  height: 40px;
}
.moddiv_bat .mobdiv_cros {
  display: none;
}

.moddiv_bat.is-open .mobdiv_cros {
  display: block;
}
.moddiv_bat.is-open .mobdiv_menu {
  display: none;
}
