/*-------------------BLOCK DO SAMESING----------------------*/
.doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.doing__what-we-are-doing {
  color: var(--text-dec-black);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
.doing__doing-foto {
  list-style: none;
  display: flex;
  width: calc(100% / 3-30);
  height: 294px;
}
.doing__threefoto {
  margin-right: 30px;
  width: calc(100% / 3);
  height: 294px;
}
.doing__threefoto:last-child {
  margin-right: 0px;
}
.doing__adigeja {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  transform: translateY(-100%);
}
.doing__chaildplas {
  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 83px;
  text-align: center;
  line-height: 16.41px;
  text-transform: uppercase;
  color: var(--text-bg-dop);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  transform: translateY(0);
}
/*-------------------BLOCK DO SAMESING AND----------------*/
