/*------------BLOCK SOLUTIONS--------------*/
.solutions {
  background-color: var(--dg-sacond-color);
  letter-spacing: 0.06em;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imgfotomain.jpg);

  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.solution-business {
  color: var(--main-bg-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
  max-width: 696px;
  text-transform: uppercase;
}
.ordservis {
  color: var(--main-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--hov-foc-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-top: 40px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);
  border: transparent;

  &:hover,
  &:focus {
    background-color: var(--hov-foc-exclusiv);
  }
}
.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}
/*------------BLOCK SOLUTIONS modal--------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: white;
  border: 2px solid transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.formfild__closebat {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  &:hover {
    fill: var(--hov-foc-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--hov-foc-color);
  }
}
.formfild__closesvg {
  width: 11px;
  height: 11px;
}

.formfild {
  border: 1px solid transparent;
  width: 528px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.formfild__form-grup {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.formfild__form-grup:first-child {
  margin-bottom: 0px;
  position: relative;
}

.formfild__form-grup input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  padding: 0;
  padding-left: 30px;
}
.formfild__testone:hover,
.formfild__testone:focus {
  border-color: var(--hov-foc-color);
  border: 1px solid var(--hov-foc-color);
}
.formfild__form-grup input:hover,
.formfild__form-grup input:focus {
  border-color: var(--hov-foc-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);
}
.formfild__form-grup input:hover + .formfild__fon,
.formfild__form-grup input:focus + .formfild__fon {
  fill: var(--hov-foc-color);
  border-color: var(--hov-foc-color);
}
input:not(:placeholder-shown),
input:not(:placeholder-shown) + .formfild__fon {
  fill: var(--hov-foc-color);
  border-color: var(--hov-foc-color);
}
textarea:not(:placeholder-shown) {
  border-color: var(--hov-foc-color);
}
.formfild__form-grup label {
  margin-bottom: 4px;
  font-size: 12px;
  color: var(--text-main-color);
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.formfild__form-grup .formfild__modform {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-dec-black);
  margin-bottom: 12px;
}

.formfild__mail-div {
  position: relative;
  display: inline-block;
}
.formfild__fon {
  position: absolute;
  width: 15px;
  height: 12px;
  display: inline-block;
  transform: translateX(-434.5px);
  margin-top: 14px;
}
.formfild__form-grup:hover,
.formfild__form-grup:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);
}

textarea {
  border-radius: 4px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 10px;

  &:hover,
  &:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--hov-foc-color);
    border-color: var(--hov-foc-color);
    border: 1px solid var(--hov-foc-color);
  }
}
.formfild__form-grup ::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.formfild__task {
  display: flex;
}
.formfild__kvadrat {
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid var(--text-dec-black);
  border-color: var(--text-dec-black);
  display: none;
}
.formfild__chekblue {
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid var(--text-dec-black);
  margin-right: 9px;
  margin-left: 10px;
}
.formfild__task input:checked + .formfild__chekblue {
  background-image: url(../images/ichecki.svg);
  background-size: contain;
  border: 2px solid var(--hov-foc-color);
  background-color: var(--hov-foc-color);
}
.formfild__sogltex {
  font-size: 14px;
  color: var(--text-main-color);
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: bloc;
}
.formfild__yslovi {
  color: var(--hov-foc-color);
}
.formfild__but-send {
  color: var(--main-bg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--hov-foc-color);
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);
  margin-top: 30px;
  border: transparent;

  &:hover,
  &:focus {
    background-color: var(--hov-foc-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: var(--hov-foc-color);
  }
}
/*------------BLOCK SOLUTIONS modal-----------*/
/*------------Блок SOLUTiONS AND--------------*/
