/*----------------------BLOCK OUR TEAM--------------------*/
.partition {
  background: var(--text-bg-dop);
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.doing__what-we-are-doing {
  text-align: center;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.partition__together-team {
  list-style: none;
  // display: flex;
  // flex-direction: column;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;
    // padding-left: -15px;
    // padding-right: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: initial;
  }
}
.partition__portfol {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 768px) {
    // margin: 15px;
    margin: 0;
    flex-basis: calc(100% / 2 - 15px);
  }
}
.partition__portfol:last-child {
  margin-right: 0px;
  @media screen and (min-width: 768px) {
    margin: 0;
    flex-basis: calc(100% / 2 - 15px);
  }
}
.partition__divtext {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.partition__foto-ouer-team {
  display: flex;
}
.partition__foto-port {
  height: 450px;
  @media screen and (min-width: 768px) {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.partition__name {
  color: var(--text-dec-black);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.partition__prof {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.partition__icomcparens {
  display: flex;
  justify-content: space-between;

  list-style: none;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}
.partition__icomclas {
  display: inline-flex;
  border: 1px solid transparent;
  width: 44px;
  height: 44px;
}

.partition__icoma {
  display: inline-flex;
  fill: #afb1b8;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: var(--hov-foc-color);

  &:hover,
  &:focus {
    background-color: var(--hov-foc-color);
    fill: #ffffff;
  }
}
.partition__icomhover {
  width: 20px;
  height: 20px;
}
/*---------------------BLOCK OUR TEAM AND-------------------*/
