/*------------------BLOCK PROPERTY-------------*/
.box-section {
  padding-top: 94px; }

.module {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.module__groop-pec:first-child {
  margin-left: 0px; }

.module__icomfive {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px; }

.module__groop-pec {
  width: calc(100% / 4);
  margin-left: 30px; }

.module__good-job {
  color: var(--text-dec-black);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px; }

.module__exersise {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; }

/*--------------------BLOCK PROPERTY AND----------------------*/
